
*.project
*.jar
*.properties
*.prefs
*.MF
WP*
*.classpath
BackEnd/Application/library/target/**
BackEnd/Application/application/target/**
BackEnd/Application/application/target/**.class
*.jar
WP*
BackEnd/Application/application/.classpath
