
*.project
*.jar
*.properties
*.prefs
*.MF
WP*
*.classpath
BackEnd/Application/library/target/**
BackEnd/Application/application/target/classes/gwr/application/dto/SampleDto.class
BackEnd/Application/application/target/classes/gwr/application/dto/SampleDto.class
BackEnd/Application/application/target/classes/gwr/application/dto/SampleDto.class
